* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 20px;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.newColorBtn {
  all: unset;
  font-size: 1.5 rem;
  text-transform: uppercase;
  padding: 1em 1.5em;
  margin-bottom: 0.7em;
  background: khaki;
  border-radius: 1.5em;
  cursor: pointer;
}

.previousColorBtn {
  all: unset;
  font-size: 1.5 rem;
  text-transform: uppercase;
  padding: 1em 1.5em;
  margin-bottom: 2em;
  background: khaki;
  border-radius: 1.5em;
  cursor: pointer;
}

.colorCodeSpan {
  font-size: 1.5 rem;
  text-transform: uppercase;
  padding: 1em 1.5em;
  color: black;
  background-color: white;
  border-radius: 1em;
}
